@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Michroma", sans-serif;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
}

:root {
  --main-orange: orange;
  --default-white: white;
  --default-black: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orange;
  transition: 0.5s;
}

.mode {
  margin-top: 30px;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--main-orange);
  color: var(--default-white);
  border: none;
  cursor: pointer;
}

.form {
  width: 45%;
  background-color: var(--default-white);
  margin-top: 80px;
  border-radius: 20px;
  min-height: 600px;
  padding: 20px;
  position: relative;
}

.form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--default-white);
}

.add input {
  border: 2px solid var(--main-orange);
  padding: 5px 10px;
  width: 50%;
  height: 50px;
  border-radius: 5px;
  font-size: 14px;
}

.add button {
  background-color: var(--main-orange);
  padding: 10px 18px;
  border-radius: 3px;
  border: none;
  margin: 10px;
  color: var(--default-white);
  font-size: 16px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 5px;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: red;
  width: 8px;
  border-radius: 4px;
}

.card {
  background-color: orange;
  padding: 10px 20px;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.card h2 {
  color: var(--default-white);
  font-size: 12px;
}

.card-btns {
  display: flex;
  gap: 8px;
}

.del,
.edit {
  padding: 5px 10px;
  font-size: 18px;
  color: var(--default-white);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.del {
  background-color: red;
}

.edit {
  background-color: #2196f3;
}

.card.editing {
  background-color: #f5a623;
  gap: 8px;
}

.card.editing h2 {
  display: none;
}

.card-inputs {
  display: none;
  gap: 8px;
  flex: 1;
}

.card.editing .card-inputs {
  display: flex;
}

.card-inputs input {
  border: 2px solid var(--default-white);
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Michroma";
  width: 50%;
  background: rgba(255, 255, 255, 0.2);
  color: var(--default-white);
}

.btnSave {
  padding: 5px 10px;
  font-size: 18px;
  color: var(--default-white);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
